---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="single">

	<div class="gallery" data-columns="3">
		<a href="https://github.com/mundyreimer/argo_sensor_clustering">
			<img src="/images/demo/demo-portrait.jpg">
		</a>
		<img src="/images/demo/demo-portrait.jpg">
		<img src="/images/demo/demo-portrait.jpg">
		<img src="/images/demo/demo-portrait.jpg">
		<img src="/images/demo/demo-portrait.jpg">
		<img src="/images/demo/demo-portrait.jpg">
	</div>

	<div class="wrap">

		{{ page.content }}

	</div>

</section>